

:root {
  --primary-color: #333333;
  --accent-color: #ffffff;
  --secondary-accent-color: #1c5d99;
  --secondary-primary-color: #639fab;
  --trim-color: #bbcde5;

}

nav {
  background-color: var(--secondary-primary-color);
  color: white;
  height: 15vh;
}



body {
  background-color: var(--primary-color);
}
main {
  color:var(--accent-color);
  /* height:fit-content; */
  height: 100vh;
  
  
}

.tabs {
  font-size: 25px;
  color: var(--accent-color) !important;
  text-decoration: none;
  

}

.tabs-back {
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-right: 20px;
}

.tabs-back:hover {
  
  background-color: var(--accent-color);

}

.tabs:hover{
  color: var(--secondary-primary-color) !important;
}

.contact-button {
  background-color: var(--trim-color);
  width: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

footer {
  height:70px;
  position:absolute;
  bottom:0;
  width:100%;
  background-color: var(--secondary-accent-color);
  
  
}

.logos {
  margin-left: 20px !important;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;

}

.resume {
  margin-top: 5%;
}